<!--
<form (ngSubmit)="onSubmit()">
  <select [(ngModel)]="selectedTeam1" name="selectedTeam1">
    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
  </select>
  <select [(ngModel)]="selectedTeam2" name="selectedTeam2">
    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
  </select>
  <select [(ngModel)]="selectedWinner" name="selectedWinner">
    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
  </select>
  <button type="submit">Match hinzufügen</button>
</form>
-->
